# Python & Môi trường ảo (Rác hệ thống)
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.pytest_cache/

# Biến môi trường & Bí mật (QUAN TRỌNG NHẤT)
.env
.env.*
! .env.example

# Cấu hình Editor
.vscode/
.idea/
*.swp

# Dữ liệu & Backup
*.sql
*.sqlite3
data/
logs/
*.log

# Tài liệu & File tạm
*.docx
*.pdf
notion.txt
Tai_lieu_ky_thuat.docx
*.egg-info/
dist/
build/
docker-compose.override.yml
Dockerfile
.dockerignore