version: '3.8'

services:
  backend:
    container_name: ai2d_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always
    # volumes:
    #   - ./app:/app/app